#map {
    margin-top: -70px;
    padding-left: 100px;
}

header {
    padding: 5px;
    text-align: center;
    border: solid pink 2px;
}


.column1 {
    float: left;
}

.column2 {
    float: right;
    position: relative;
    top: 200px;
    right: 250px;
    background-color: pink;
    width: 300px;
    padding: 15px;
}